/*VARIABLES AND SOME DEFAULT SETTINGS*/
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #A6E3A1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #A3C1EB;
    --lavender: #b4befe;
    --text: #F4FFEFcc;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #181f1ca8;
    --surface0: #181f1c;
    --base: #181F1C;
    --mantle: #181825;
    --crust: #11111b;
    --trbg: #181f1c;
    --hover: #cdd6f40c;
}

*{
    color: #bf1820;
    font-weight: 600;
    font-family: "Iosevka NF";
    margin: 0;
    padding: 0;
}
/*GENERAL CONFIGRATIONS*/
.yasb-bar {
    background-color: #181f1cad;
    /*border: 1px solid var(--green);*/
    padding: 0;
	margin: 0;
}
/*TOOLTIPS AND CONTEXT MENU*/
.tooltip {
    background-color: var(--base);
    border-radius: 0px;
    color: var(--text);
    padding: 5px 10px;
    font-size: 12px;
    font-family: "Iosevka NFM";
    font-weight: 700;
    margin-top: 4px;
}
.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--base);
    padding: 0px 0px;
    border-radius: 0px;
    font-family: 'Iosevka NFM';
    font-size: 12px;
    color: var(--text);
}
.context-menu {
    border-radius: 0px;
    border: 2px solid var(--green);
}
.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 8px;
}
.context-menu::item,
.context-menu .menu-checkbox {
    background-color: transparent;
    padding: 4px 8px;
    margin: 2px 6px;
    border-radius: 0px;
    min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: var(--hover);
    color: var(--text);
}
.context-menu::separator {
    height: 1px;
    background-color: var(--hover);
    margin: 4px 8px;
}
.context-menu::item:disabled {
    color: #666666;
    background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Iosevka NFM'
}
.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
    color: rgba(255, 255, 255, 0.9);
}
.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: #444444;
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--green);
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}
.widget {
    padding: 0 0px;
    margin: 0 1px;
    border-radius: 0px;
}
.widget .icon {
    font-size: 18px;
}
.widget .label {
    color: var(--text);
}
QPushButton {
    outline: none;
}
/*ACTIVE WINDOW WIDGET*/
.active-window-widget {
    padding-top: 2px;
    padding-right: 11px;
    padding-left: 0px;
}
.active-window-widget .label {
    font-size: 12px;
    padding-top: -1px;
}
.active-window-widget .icon {
    padding-right: 6px;
    border: var(--green);
    border-width: 2px;
}
/*CLOCK - CALENDAR WIDGET*/
.clock-widget {
    padding-left: 0px;
    padding-right: 13px;
    padding-bottom: 1px;
}
.clock-widget .label {
    padding-top: 2px;
    font-size: 12px;
}
/*CLOCK - CALENDAR WIDGET DROPDOWN*/
.calendar {
    background-color: var(--trbg);
    border-radius: 0px;
    border: 2px solid var(--green);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: #ffffff2d;
    font-family: 'Iosevka NF';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
}
.calendar .calendar-table::item:selected {
    color: var(--text);
    background-color: #ffffff17;
}
.calendar .day-label {
    margin-top: 20px;
    color: var(--text);
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'Iosevka NF';
    font-size: 16px;
    color: var(--text);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    color: var(--text);
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--text);;
    margin-top: -20px;
}
/*AUDIO WIDGET*/
.volume-widget {
    padding-right: -3px;
    padding-left: 0px;
    font-size: 12px;
    color: var(--text);
}
.volume-widget .icon {
    font-size: 12px;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 15px;
    padding-bottom: 1px;
    color: var(--text);
}
.volume-widget .label {
    padding-top: 1px;
    font-size: 12px;
    color: var(--text);
}
/*SYSTRAY*/
.systray .button {
    border-radius: 0px;
    color: var(--blue);
    padding: 2px;
    padding-bottom: 1px;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 3px;
}

.systray .button:hover {
    background: var(--hover);
}
.systray .button.drag-over {
    background: rgba(255, 255, 255, 0.4);
}
.systray .pinned-container.drop-target {
    background: rgba(255, 255, 255, 0.1);
}
.systray .unpinned-visibility-btn {
    border: none;
    color: var(--text);
    padding-right: 5px;
    padding-left: -1px;
    padding-top: 2px;
    outline: none;
    font-size: 12px;
}
.systray-popup .button.drag-over {
    background-color: rgba(255, 255, 255, 0.2);
}
.systray .pinned-container.pinned-container.drop-target {
    background-color: rgba(255, 255, 255, 0.1);
}
.systray-popup {
    background-color: var(--trbg);
    border: 2px solid var(--green);
    padding: 6px;
}
.systray-popup .button {
    padding: 6px 4px;
    margin: 0;
    border: 0;
    border-radius: 0px;
}
.systray-popup .button:hover {
    background-color: var(--hover);
}

/*AUDIO DROPDOWN*/
.audio-menu {
    border-radius: 0px;
    background-color: var(--trbg);
    border: 2px solid var(--green);
}
.audio-container .device {
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 4px 8px 2px 8px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 0px;
    color: var(--text);
}
.audio-container .device.selected {
    background-color: #cdd6f41a;
    border-radius: 0px;
    padding-top: 6px;
    padding-bottom: 5px;
}
.audio-container .device:hover {
    background-color: #cdd6f40c;
    padding-top: 6px;
    padding-bottom: 5px;
}
/*MEDIA WIDGET*/
.media-widget .icon{
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: var(--surface1);
    font-size: 12px;
}
.media-widget .label {
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 6px;
    padding-bottom: 3px;
    color: var(--text);
    font-size: 12px;
}
/*sep*/
.media-menu {
	font-family: "Iosevka NF";
    min-width: 380px;
    max-width: 100px;
    background-color: var(--trbg);
    border: 2px solid var(--green);
}
.media-menu .title {
    font-size: 15px;
    color: var(--text);
    font-weight: 800;
    margin-left: 16px;
    margin-top: 4px;
}
.media-menu .artist {
    font-size: 12px;
    color: #F4FFEF44;
    margin-bottom: 0px;
    margin-top: 1px;
    margin-left: 16px;
}
.media-menu .source {
    font-size: 11px;
    color: #000;
    font-weight: normal;
    border-radius: 3px;
    background-color: #bac2de;
    padding: 2px 4px;
}
.media-menu .btn {
    color: var(--text);
    font-size: 16px;
    font-family: "JetBrainsMono NFP";
    font-weight: 400;
    margin: 0px -14px 0px 0px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 10px;
}
.media-menu .btn.prev {
    margin-left: 10px;
    font-family: "JetBrainsMono NFP";
}
.media-menu .btn.play {
    font-family: "JetBrainsMono NFP";
    font-size: 18px;
}
.media-menu .playback-time {
    font-size: 10px;
	  font-family: "Iosevka NF";
    color: #7f849c;
    margin-top: 10px;
    min-width: 120px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 0px 3px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::sub-page {
    background: var(--text);
    border-radius: 3px;
    height: 4px;
}
/*POWER WIDGET*/
.power-menu-widget {
    padding-right: 12px;
    padding-left: 7px;
    font-size: 13px;
}
.power-menu-widget .label {
    padding-top: 2px;
    padding-right: 4px;
	color: var(--green);
    font-size: 13px;
    padding-bottom: 1px;
}
.power-menu-widget .icon {
    font-size: 12px;
}

.power-menu-compact {
    min-width: 200px;
    background-color: var(--trbg);
    border: 2px solid var(--green);
}
.power-menu-compact .profile-info {
    padding: 24px 0 10px 0;
}

.power-menu-compact .profile-info .profile-username {
    font-size: 15px;
    font-weight: 600;
    color: var(--text);
    margin-top: 14px;
}
.power-menu-compact .profile-info .profile-account-type {
    display: none;
    visibility: hidden;
    font-size: 1px;
    color: #ffffff00;
}
.power-menu-compact .profile-info .profile-email {
    display: none;
    visibility: hidden;
    font-size: 1px;
    color: #ffffff00;
}
.power-menu-compact .manage-accounts {
    margin-bottom: -12px;
    display: none;
    visibility: hidden;
    font-size: 1px;
    color: transparent;
    background-color: transparent;
}
.power-menu-compact .buttons {
    background-color: #cdd6f400;
    margin: 0 12px 12px 12px;
    border-radius: 0px;
}
.power-menu-compact .button {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.power-menu-compact .button.hover {
    background-color: #cdd6f41a;
    border-radius: 0px;
}
.power-menu-compact .button .icon {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
    padding-right: 10px;
    min-width: 20px;
}
.power-menu-compact .button .label {
    font-size: 13px;
    font-weight: 500;
    color: var(--dark-dim-color)
}
.power-menu-compact .icon.hover,
.power-menu-compact .label.hover {
    color: var(--dark-color)
}
/*MEMORY WIDGET*/
.memory-widget {
    padding: 0;
    padding-left: 0px;
    padding-right: 5px;
}
.memory-widget .label {
    color: var(--red);
    padding-top: 3px;
    font-size: 12px;
    padding-left: 13px;
}
.memory-widget .icon{
    color: var(--red);
    margin-bottom: 0%;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 2px;
}
/*BATTERY WIDGET*/
.battery-widget {
    padding: 0;
    padding-left: 0px;
    padding-right: 4px;
}
.battery-widget .label {
    color: #F4FFEF44;
    font-size: 12px;
    padding-left: 0px;
    padding-top: 0px;
}
.battery-widget .icon {
    color: var(--text);
    padding-bottom: 0px;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 1px;
    padding-bottom: 1px;
}
/*NOTIFICATIONS*/
.notification-widget {
    padding: 0px;
    padding-left: 0px;
    padding-right: 6px;
}
.notification-widget .icon {
    color: var(--red);
    font-size: 13px;
    padding-right: 0px;
}
.notification-widget .label {
    padding-top: 1px;
    font-size: 12px;
    padding-right: 5px;
    color: var(--red);
}
.glazewm-workspaces {
    margin: 0px;
    padding-left: 0px;
    padding-right: -1px;
}
.glazewm-workspaces .icon .label {
    color: var(--text);
    font-size: 13px;
}
.glazewm-workspaces .ws-btn {
    color: #a6e3a166;
    font-size: 13px;
    border: none;
    padding: 12px 10px;
    margin: 0px 0px;
    padding-top: 12px;
}
.glazewm-workspaces .ws-btn.active_populated {
    color: var(--green);
    background-color: #a6e3a11a;
    font-weight: 900;
    border-radius: 0px;
    font-size: 12px;
    padding: 12px 10px;
    margin: 0px 0px;
   /* border-bottom: 1px solid var(--green); */
}
.glazewm-workspaces .ws-btn.active_empty {
    color: var(--text);
    background-color: #a6e3a11a;
    border-radius: 0px;
    padding-top: 12px;
    margin: 0px 0px 0px 0px;
    padding 12px 10px;
}
/* WIFI Setting */
.wifi-widget .label{
    font-size: 12px;
    color: #F4FFEF44;
    padding-left: 0px;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
}
.wifi-widget .icon {
    font-size: 12px;
    color: var(--text);
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 2px;
}
.gpu-widget .icon {
    font-size: 12px;
    color: var(--red);
    padding-right: 1px;
    padding-left: 12px;
}
.gpu-widget .label {
    color: var(--red);
    padding-left: 6px;
}
.language-widget .label {
    padding-left: -1px;
}
.custom-widget .label {
    color: #F4FFEF44;
    padding-right: 6px;
}
/*re*/
.language-menu {
    background-color: var(--trbg);
    min-width: 300px;
    border: 2px solid var(--green);
}
.language-menu .header {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: transparent;
    color: var(--text);
}
.language-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: var(--text);
    background-color: transparent;
}
.language-menu .footer:hover {
    background-color: #cdd6f41a;
    color: #fff;
}
.language-menu .language-item {
    padding: 6px 12px;
    margin: 2px 4px;
}
.language-menu .language-item.active {
    background-color: #cdd6f41a;
    border-radius: 0px;
}
.language-menu .language-item:hover {
    background-color: #cdd6f40c;
    border-radius: 0px;
}
.language-menu .language-item.active:hover {
    background-color: #cdd6f40c;
    border-radius: 0px;
}
.language-menu .language-item .code {
    font-weight: 900;
    font-size: 14px;
    min-width: 40px;
    text-transform: uppercase;
    color: var(--text);
}
.language-menu .language-item .icon {
    font-size: 16px;
    margin-right: 8px;
    color: var(--text);
}
.language-menu .language-item .name {
    font-weight: 600;
    font-size: 14px;
    color: var(--text)
}
.language-menu .language-item .layout {
    font-weight: 600;
    font-size: 12px;
    color: var(--text)
}
