/*VARIABLES AND SOME DEFAULT SETTINGS*/
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #A6D4A0;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #A3C1EB;
    --lavender: #b4befe;
    --text: #E7FFE5;
    --subtext0: #2c3a2e65;
    --subtexta: #a6c8a880;
    --subtext1: #e7ffe5a3;
    --subtext2: #3e514168;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #181f1ca8;
    --surface0: #181f1c;
    --base: #181F1C;
    --mantle: #1f2a23;
    --crust: #11111b;
    --trbg: #181f1c9a;
    --hover: #cdd6f40c;
}

:root {
    --background-color: #181f1c;
    --background-color-2: #181f1;
    --foreground-color: #E7FFE5;
    --foreground-dimmed: #E7FFE5;
    --selection-color: #2d3b35;
    --bar-background: #3b3b4988;
    --text-color: #3f3f3f;
    --gradient: linear-gradient(45deg, var(--foreground-color), #f38ba8, var(--foreground-color));
    --font-family: "Google Sans Flex", "Material Symbols Rounded Filled";

    --display-radius: 0em;
}

* {
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 700;
    color: var(--foreground-color);
}

.tooltip {
    padding: 8px;
    border: transparent;
    border-radius: 11px;
    background-color: var(--base);
    color: var(--foreground-color);
}

.primary-bar {
    padding-bottom: -1px;
    border: transparent;
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.07) 80%, rgba(0, 0, 0, 0) 100%);
}

.widget-container {
    margin: 0px 6px;
}

.menu-item {
    padding: 4px;
    border: transparent;
    border-radius: 13px;
    background-color: var(--background-color);
}

.menu {
    padding: 4px;
    border: transparent;
    border-radius: 11;
    background-color: var(--background-color);
}

/*glaze*/
.glazewm-workspaces {
    margin: 0px;
    padding-left: 0px;
    padding-right: -1px;
}
.glazewm-workspaces .icon .label {
    color: var(--text);
    font-size: 13px;
}
.glazewm-workspaces .ws-btn {
    color: #a6e3a166;
    font-size: 13px;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 0px 0px;
    padding-top: 5px;
}
.glazewm-workspaces .ws-btn.active_populated {
    color: var(--text);
    background-color: #a6e3a123;
    font-weight: 900;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0px 0px;
   /* border-bottom: 1px solid var(--green); */
}
.glazewm-workspaces .ws-btn.active_empty {
    color: var(--text);
    background-color: #a6e3a11a;
    border-radius: 6px;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px;
}

.glazewm-workspaces .offline-status {
    color: var(--text);
    padding: 2px 5px;
}

/* Global context menu style */
.context-menu,
.context-menu .menu-checkbox {
    margin: 8px;
    padding: 0px;
    border: none;
}

.context-menu {
    background-color: var(--background-color);
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    margin: 0px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--selection-color);
    /* color: #2b2c2d; */
}

/* clock */

.clock-widget .label {
    padding-bottom: 0px;
    margin-left: -1px;
}

.calendar {
    border: 3px solid var(--green);
    border-radius: 11;
    background-color: var(--trbg);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    border: 3px solid var(--green);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(17, 17, 27, 0);
    color: var(--foreground-dimmed);
}

.calendar .calendar-table::item:selected {
    border-radius: 12px;
    background-color: var(--selection-color);
    color: var(--foreground-color);
}

.calendar .day-label {
    padding: 2px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    min-width: 180px;
    max-width: 180px;
    font-size: 12px;
    color: var(--foreground-color);
}

.calendar .month-label {
    font-weight: normal;
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: #ffffff;
}

/* media */

.media-widget .label {
    border-radius: 0px;
    font-size: 13px;
    padding-left: -1px;
    color: var(--foreground-color);
}

.media-widget .label.alt {
    border-radius: 0px;
    font-size: 13px;
    color: var(--foreground-color);
}

.custom-widget .label {
    color: var(--text);
    padding-right: -2px;
    padding-top: 2px;
    font-size: 16px;
}

.media-menu {
    min-width: 380px;
    max-width: 100px;
    border-radius: 9px;
    background-color: var(--trbg);
    border: 3px solid var(--green);
}
.media-menu .title {
    font-size: 16px;
    color: var(--text);
    font-weight: 800;
    margin-left: 16px;
    margin-top: 4px;
}
.media-menu .artist {
    font-size: 12px;
    color: var(--subtexta);
    margin-bottom: 0px;
    margin-top: 1px;
    margin-left: 16px;
}
.media-menu .btn {
    color: var(--text);
    font-size: 20px;
    font-weight: 400;
    margin: 0px -8px 0px 0px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 10px;
}
.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn.play {
    font-size: 28px;
}
.media-menu .playback-time {
    font-size: 10px;
    color: #7f849c;
    margin-top: 10px;
    min-width: 120px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 0px 3px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}
.media-menu .progress-slider::sub-page {
    background: var(--text);
    border-radius: 3px;
    height: 4px;
}

/* systray */

.systray {
    border: none;
    background: transparent;
}

.systray .button {
    border-radius: 4px;
    font-weight: 900;
    background-color: transparent;
}

.systray .unpinned-visibility-btn {
    padding-bottom: -4px;
    height: 20px;
    border: none;
    font-size: 22px;
    font-weight: 800;
}

.systray .unpinned-visibility-btn:hover {
    border-radius: 4px;
}

/* popup */

.systray-popup .button.drag-over {
    background-color: rgba(255, 255, 255, 0.2);
}

.systray .pinned-container.pinned-container.drop-target {
    background-color: rgba(255, 255, 255, 0.1);
}

.systray-popup {
    padding: 6px;
    border-radius: 7px;
    border: 2px solid var(--green);
    background-color: var(--trbg);
}

.systray-popup .button {
    padding: 6px 4px;
    border: 0;
    border-radius: 6px;
}


.systray-popup .button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}


/* language */

.language-widget .widget-container {
    margin-right: 1px;
}

.language-widget .icon {
    padding-right: 6px;
    padding-bottom: -2px;
    font-size: 18px;
}

.language-widget .label {
    padding-bottom: 0px;
    font-size: 13px;
}

.language-menu {
    min-width: 300px;
    border: transparent;
    border-radius: 9;
    background-color: var(--trbg);
    border: 2px solid var(--green);
}

.language-menu .header {
    margin-bottom: 2px;
    padding: 12px;
    font-size: 13px;
}

.language-menu .footer {
    margin-top: 2px;
    padding: 12px;
    font-size: 13px;
    color: var(--text);
}

.language-menu .language-item {
    margin: 2px 8px;
    padding: 6px 12px;
}

.language-menu .language-item.active {
    border-radius: 4px;
    background-color: var(--subtext0);
}

.language-menu .language-item:hover {
    border-radius: 4px;
    background-color: var(--subtext2);
}

.language-menu .language-item.active:hover {
    border-radius: 4px;
    background-color: var(--subtext2)
}

.language-menu .language-item .code {
    min-width: 40px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
}

.language-menu .language-item .icon {
    margin-right: 8px;
    font-size: 16px;
    color: #fff;
}

.language-menu .language-item .name {
    font-size: 13px;
}

.language-menu .language-item .layout {
    font-size: 13px;
}

/* volume */

.volume-widget .widget-container {
    margin-left: 1px;
}

.volume-widget .icon {
    padding-bottom: -4px;
    font-size: 19px;
}

.audio-menu {
    min-width: 300px;
    border-radius: 9px;
    background-color: var(--trbg);
    border: 3px solid var(--green);
}
/* volume */
.audio-menu .system-volume-container .volume-slider {
    border: none;
}

.audio-menu .audio-container .device {
    background-color:transparent;
    border: none;
    padding:6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-menu .audio-container .device.selected {
    background-color: var(--mantle);
   
}
.audio-menu .audio-container .device:hover {
    background-color: var(--subtext2);
}
/* Toggle button for application volumes (if is enabled) */
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
    background-color: transparent;
}
.audio-menu .toggle-apps:hover {
    background-color: transparent;
    
}
/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
    padding: 8px;
    margin-top:10px;
    border-radius: 8px;
    background-color:#2c3a2e65;
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/*ACTIVE WINDOW WIDGET*/
.active-window-widget {
    padding: 0px 0px 0px 0px;
    margin: 7px 0px 7px 0px;
    background-color: #2c3a2e;
    border-radius: 6px;
}
.active-window-widget .label {
    font-size: 16px;
    padding-bottom: -3px;
}
.active-window-widget .icon {
    padding-top: 2px;
    padding-bottom: 1px;
}

/* wifi */

.wifi-widget .icon {
    padding: 0px, -2px, 0px, 0px;
    font-size: 18px;
}

.battery-widget {
    padding: 0px 0px 0px 0px;
}

.battery-widget .icon {
    padding: 0px -2px;
    padding-top: 2px;
    font-size: 12px;
}

.battery-widget .label {
    margin-left: 1px;
    padding-left: 5px;
    padding-right: -4px;
    padding-top: 1px;
    border-radius: 0px;
    border-left: 2px solid linear-gradient(to top, transparent 44%, #637266 44.1%, #637266 58%, transparent 58.1%);
}

.battery-widget .label.alt {
    margin-left: 1px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 1px;
    border-radius: 0px;
    border-left: 2px solid linear-gradient(to top, transparent 44%, #637266 44.1%, #637266 58%, transparent 58.1%);
}

.battery-widget .label.status-charging,
.battery-widget .label.status-full {
    padding-right: 6px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* background-color: linear-gradient(to right, transparent, #7cffb360); */
}

.battery-widget .label.status-full {
    border-left: 2px solid linear-gradient(to top, transparent 44%, var(--foreground-color) 44.1%, var(--foreground-color) 58%, transparent 58.1%);
}

/*brightness*/

.brightness-widget {
    padding-top: 3px;
    padding-right: 1px;
}

.brightness-widget .icon {
    font-size: 17px;
}

.brightness-menu {
    border-radius: 9px;
    background-color: var(--trbg);
    border: 3px solid var(--green);
    min-width: 300px;
}
.brightness-menu .monitor-row {
    background-color: transparent;
    margin: 12px;
}
.brightness-menu .monitor-row.monitor-0 {
    margin-bottom: 0;
}
.brightness-menu .monitor-title  {
    font-size: 14px;
    color: var(--text);
    margin-top: 4px;
}
.brightness-menu .monitor-subtitle {
    font-size: 12px;
    color: #a6c8a880;
    margin-top: 2px;
    margin-bottom: 8px;
}
/* Container for the sliders to create a grouped appearance including icons and sliders */
.brightness-menu .slider-rows {
    background-color: var(--subtext0);
    border-radius: 8px;
    padding: 0px 10px; 
}
.brightness-menu .slider-icon {
    font-size: 16px;
    padding-top: 2px;
}
.brightness-menu .slider-row {
    margin: 2px 0;
    padding: 8px 0px;
}

/*notifications*/

.notification-widget {
    padding: 0 7px 0 4px;
}
.notification-widget .widget-container {
	background-color:transparent;
	margin: 0px 0 0px 0;
}
.notification-widget .icon {
    font-size: 18px;
    padding-right: 5px;
    padding-left: 2px;
    padding-top: 3px;
}
.notification-widget .icon.new-notification {
    color: var(--text);
}
.notification-widget .label.new-notification {
    color: var(--text);
}

/*wifi menu*/

.wifi-menu {
    background-color: var(--trbg);
    border-radius: 9;
    border: 3px solid var(--green);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
}

.wifi-menu .progress-bar {
    max-height: 2px;
    color: var(--green);
}

.wifi-menu .header {
    font-size: 14px;
    margin: 4px 0px;
    padding: 12px;
    background-color: transparent;
    color: var(--text);
}

.wifi-menu .error-message {
    font-size: 14px;
    margin-bottom: 2px;
    padding: 12px;
    background-color: var(--subtext2);
    color: var(--text);
}

.wifi-menu .wifi-list {
    background-color: transparent;
    margin-right: 12px;
    margin-left: 7px;
}

.wifi-menu .wifi-item {
    min-height: 35px;
    min-width: 10px;
    padding: 8px 12px;
    margin: 1px 4px;
}

.wifi-menu .wifi-item:hover {
    background-color: var(--subtext2);
    border-radius: 6px;
}

.wifi-menu .wifi-item[active=true] {
    background-color: var(--subtext0);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
}

.wifi-menu .wifi-item[active=true]:hover {
    background-color: var(--subtext2);
}

.wifi-menu .wifi-item .icon {
    font-size: 26px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .name {
    font-size: 14px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .password {
    background-color: transparent;
    font-size: 14px;
}

.wifi-menu .wifi-item .status {
    font-size: 14px;
}

.wifi-menu .wifi-item .strength {
    font-size: 14px;
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    background-color: var(--subtext2);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
    background-color: #a6c8a84d;
}

.wifi-menu .wifi-item .connect:pressed {
    background-color: #3c463dcc;
}

.wifi-menu .footer {
    font-size: 12px;
    padding: 12px;
    margin-top: 2px;
    color: var(--text);
    background-color: transparent;
}

.wifi-menu .footer .settings-button {
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: var(--text);
}

.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: var(--text);
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: var(--subtext2);
    border-radius: 4px;
}

/*power menu*/

.power-menu-widget .icon{
    color: var(--text);
    font-size: 15px;
    font-weight: 800;
}

.power-menu-overlay{
    background-color: var(--trbg);
}

.power-menu-overlay .uptime{
    font-size: 12px;
    margin-bottom: 22px;
    color: var(--subtexta);
}

.power-menu-popup{
    background-color: var(--base);
    padding: 28px;
    border-radius: 8px;
    border: 2px solid var(--green);
}

.power-menu-popup .profile-info{
    padding: 10px 0px 0px 0px;
    margin-bottom:14px;
}

.power-menu-popup .profile-info .profile-username{
    font-size:20px;
    padding-top: 14px;
    color:var(--text);
}

.power-menu-popup .profile-info .profile-account-type{
    font-size: 14px;
    padding-top: 6px;
    color: var(--subtexta);
}

.power-menu-popup .profile-info .profile-email {
    color: transparent;
    font-size: 0px;
}

.power-menu-popup .button{
    padding: 0;
    min-width: 130px;
    max-width: 130px;
    min-height: 90px;
    border-radius: 8px;
    background-color: #2c3a307e;
    margin: 4px;
}

.power-menu-popup .button.hover{
    background-color: var(--subtext2);
}

.power-menu-popup .button .label{
    font-size: 0px;
    color: var(--subtext1);
    margin-bottom: 0px;
}

.power-menu-popup .button .icon{
    font-size: 26px;
    color: var(--text);
    padding-top: 20px;
}

.power-menu-popup .button.cancel .icon{
    color: var(--green);
}

.power-menu-popup .button.shutdown .icon{
    color: var(--red);
}
